.sidebar-nav #sidebarnav .sidebar-item.selected > .sidebar-link {
    border-radius: 0px 60px 60px 0px;
    color: #fff !important;
    background: linear-gradient(to right, #FF8438, #FFDC00);
    box-shadow: 0px 7px 12px 0px rgba(95, 118, 232, 0.21);
    opacity: 1;
}
.bg-primary{
	background-color: #FF8438 !important;
}
/*5f76e8*/

.stroke-primary {
  stroke: #FF8438;
}
.stats .ct-series-a .ct-point {
    stroke: #FF8438;
}