.sidebar-nav #sidebarnav .sidebar-item.selected > .sidebar-link {
    background: linear-gradient(to right, #FF8438, #FFDC00);
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line {
  stroke: #FF8438;
}
.stats .ct-series-a .ct-line,
.stats .ct-series-a .ct-point {
    stroke: #FF8438;
    stroke-width: 3px;
}


/*5f76e8*/